@page
@model c3pMultiBoard.Pages.mBoards.Index0Model

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mBoard[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mBoard[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mBoard[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mBoard[0].PosteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mBoard[0].ReadCount)
            </th>

            <th></th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.mBoard)
        {
            <tr>
                <td>
                    @Html.Raw(UtilLibrary.BoardLibrary.FuncStep(item.Step))
                    @UtilLibrary.StringLibrary.CutStringUnicode(item.Title, 20)
                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @UtilLibrary.BoardLibrary.FuncShowTime(item.PosteDate)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReadCount)
                </td>

                <td>
                    <a asp-page="./Reply" asp-route-id="@item.ID">Reply</a> |
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
                <td>@item.Ref / @item.Step /  @item.RefOrder</td>
            </tr>
        }
    </tbody>
</table>
